@import "../../scss/";

.containerWelcome {
	max-width: 335px;
	padding: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 10;

	@include tablet {
		max-width: 470px;
		padding: 0;
		justify-content: flex-start;
		align-items: flex-start;
	}

	@include desktop {
		max-width: 485px;
	}
}
.titleStart {
	font-weight: 600;
	font-size: 28px;
	line-height: calc(32 / 28);
	text-align: center;

	@include tablet {
		font-size: 40px;
		text-align: left;
	}
}

.textStart {
	font-size: 14px;
	line-height: calc(18 / 14);
	text-align: center;

	margin-top: 14px;

	@include tablet {
		font-size: 18px;
		text-align: left;
	}
}

.listStart {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 14px;
	margin-top: 40px;

	@include desktop {
		justify-content: flex-start;
	}
}
.btnStart {
	padding: 14px 40px;
	font-size: 14px;
	line-height: calc(18 / 16);
	font-weight: 600;

	background: #f3f3f3;
	color: #161f37;
	border-radius: 42px;
	border: 1px solid rgba(243, 243, 243, 0.2);
	cursor: pointer;
	transition: background $transitionDuration $transitionTimingFunction;

	@include tablet {
		padding: 18px 44px;
		font-size: 16px;
	}

	&:hover {
		background: transparent;
		color: #f3f3f3;
	}
}

.containerLayout {
	width: 100vw;
	height: 100vh;
	display: flex;
	background-size: contain;
	justify-content: center;
	align-items: center;
	background-position: right;
	background-repeat: no-repeat;
	background-image: linear-gradient(to right, rgba(6, 6, 9, 1), rgba(10, 10, 17, 0)), url("/images/welcome/welcomesm@1x.png");
	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		background-image: linear-gradient(to right, rgba(6, 6, 9, 1), rgba(10, 10, 17, 0)), url("/images/welcome/welcomesm@2x.png");
	}

	@include tablet {
		justify-content: left;
		padding-left: 64px;
		background-image: linear-gradient(to right, rgba(6, 6, 9, 1), rgba(10, 10, 17, 0)), url("/images/welcome/welcomemd@1x.png");
		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(6, 6, 9, 1), rgba(10, 10, 17, 0)), url("/images/welcome/welcomemd@2x.png");
		}
	}

	@include desktop {
		justify-content: left;
		padding-left: 100px;
		background-image: linear-gradient(to right, rgba(6, 6, 9, 1), rgba(10, 10, 17, 0)), url("/images/welcome/welcome@1x.png");
		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(6, 6, 9, 1), rgba(10, 10, 17, 0)), url("/images/welcome/welcome@2x.png");
		}
	}
}

.gradientContainer {
	width: 50vw;
	height: 130vh;
	background: radial-gradient(ellipse, rgba(64, 112, 205, 0.5), transparent);
	top: -50%;
	left: -28%;
	z-index: 3;
	border-radius: 50%;

	position: absolute;
	filter: blur(50px);
}
.circleContainer {
	width: 32vw;
	height: 75vh;
	background: radial-gradient(circle, rgba(188, 230, 210, 0.4), transparent);

	filter: blur(40px);
	top: -35%;
	left: 10%;
	z-index: 10;
	border-radius: 50%;

	position: absolute;
}

@keyframes mainTitleAnimation {
	0%,
	100% {
		transform: translateY(0) scale(1) rotate(0);
		opacity: 1;
	}
	25% {
		transform: translateY(-50px) scale(0.8) rotate(45deg);
		opacity: 0.5;
	}
	50% {
		transform: translateY(-100px) scale(0.6) rotate(90deg);
		opacity: 0.2;
	}
	75% {
		transform: translateY(-50px) scale(0.8) rotate(45deg);
		opacity: 0.5;
	}
}

.gradientContainer {
	animation: mainTitleAnimation 8s ease-in-out infinite;
}

.circleContainer {
	animation: mainTitleAnimation 8s ease-in-out infinite 2s;
}
